/* Formatting for all HTML files */

div.main_text {
  background-color: #D0D0D0;
  padding: 0;
  margin: 0;
  background-size: auto;
  background-repeat: repeat;
}

div.header {
  background-image: url("../images/header_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

h1#title {
  color: #CE8585;
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    float: right;
}

.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Youtube */
.fa-youtube {
  background: #bb0000;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
}

/* Pinterest */
.fa-pinterest {
  background: #cb2027;
  color: white;
}

/* Snapchat */
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div.header input {
    float: right;
    padding: 6px;
    border-style: solid;
    border-color: black;
    margin-top: 16px;
    margin-right: 16px;
    margin-bottom: 16px
    font-size: 17px;
}

ul.nav li {
  position: sticky;
  font-weight: bold;
  font-size: 20px;
  font-family: Helvetica;
  display: inline-block;
  float: none;
  background-color: #CE8585;
}

ul.nav li input.explanation{
  position: sticky;
  font-weight: bold;
  font-size: 20px;
  font-family: Helvetica;
  display: inline-block;
  float: none;
  background-color: #CE8585;
  border-style: none;
}

ul.nav li input.about{
  position: sticky;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 20px;
  display: inline-block;
  float: none;
  background-color: #CE8585;
  border-style: none;
}

ul.nav li input.recipes{
  position: sticky;
  font-weight: bold;
  font-size: 20px;
  font-family: Helvetica;
  display: inline-block;
  float: none;
  background-color: #CE8585;
  border-style: none;
}

ul.nav li input.articles{
  position: sticky;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 20px;
  display: inline-block;
  float: none;
  background-color: #CE8585;
  border-style: none;
}

ul.nav li input.contact{
  position: sticky;
  font-weight: bold;
  font-family: Helvetica;
  font-size: 20px;
  display: inline-block;
  float: none;
  background-color: #CE8585;
  border-style: none;
}

ul.nav {
  background-color: #CE8585;
  text-align: left;
}

a {
  color: #808080;
}

footer{
  background-color: #CE8585;
  position: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  text-align: center;
}

p{
  color: #812D2D;
  text-align: center;
  font-size: 17.5px;
  font-family: Helvetica;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: : 0;
  margin: 0;
}

h2.page_title {
  color: #CE8585;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  font-family: Helvetica;
  padding: 0;
  margin: 0;
}

/* Index specific formatting */

img#home_head{
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p#intro{
  color: #812D2D;
  text-align: center;
  font-size: 20px;
  font-family: Helvetica;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
}

p.sign{
  color: #812D2D;
  text-align: center;
  font-size: 40px;
  font-family: Brush Script MT, cursive;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: : 0;
  margin: 0;
}

/* Contact form specific formatting */

form input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=button] {
  background-color: #CE8585;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=button]:hover {
  background-color: #F4C2C2;
}

.container {
  border-radius: 5px;
  background-color: #D0D0D0;
  padding: 50px;
}
